body {
    background-color: beige;
}

h1, th {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
}